h1 {
  color: blue;
}

h3.userHead {
  margin-left: 5px;
  font-size: 15pt;
}

p.message {
  color: blue;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 20px;
  width = 675px;  
}

abbr.timestamp {
  font-size: 10pt;
  font-style: italic;
  margin-left: 20px;
  width = 675px;
}

div.tweet {
  background-color: ;
  border: 2px solid;
  margin-bottom: 2px;
  width: 700px;
}




